// Define variables for colors
$color-1: white;
$color-2: black;
$background-color: #647374;
$navBar-color: #2d3b39;
$footer-color: #2d3b39;
$dark-color: #536455;
$light-color: #93AEAF;

// Import font
@font-face {
    font-family: mainFont;
    src: url(../Allerta_Stencil/AllertaStencil-Regular.ttf);
}

// Body styles
body {
    margin: 0;
    padding: 0;
    background: url('../images/Animated\ Shape.svg') no-repeat center center fixed;
    background-size: cover;
    color: $color-1;
    font-family: mainFont;
    text-align: center;

    // Styles for the home page
    .nameContainer, .hobbyContainer , .logoContainer, .colorContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #202525;
        border-radius: 10px;
        width: 50%;
        margin: {
            top: 10px;
            bottom: 10px;
            right: auto;
            left: auto;
        }
    }
    
    #nameTitle, #hobbyTitle, #logoTitle, #colorTitle {
        cursor: pointer;
    }
    
    #left {
        rotate: 180deg;
    }
    #darkGroup {
        fill: $dark-color;
    }
    #lightGroup {
        fill: $light-color;
    }
    
    #dark1, #dark2, #light1 {
        transition: all 1s ease;
    }
    
    #dark2 {
        transform: translateX(-100%);
    }
    
    .nameContainer:hover #light1, .hobbyContainer:hover #light1, .logoContainer:hover #light1, .colorContainer:hover #light1 {
        transform: translateX(20%);
    }
    
    .nameContainer:hover #dark1, .hobbyContainer:hover #dark1, .logoContainer:hover #dark1, .colorContainer:hover #dark1 {
        transform: translateX(40%);
        opacity: 0;
    }
    
    .nameContainer:hover #dark2, .hobbyContainer:hover #dark2, .logoContainer:hover #dark2, .colorContainer:hover #dark2 {
        transform: translateX(0%)
    }

    #color {
        padding-top: 10px;
        img {
            border-radius: 10px;
        }
    }

    #name, #hobby, #logo, #color {
        width: 50%;
        height: auto;
        background-color: #384141;
        margin: auto;
        line-height: 50px;
        display: none;
        border-radius: 10px;
        padding: 10px;
        img {
            @media (max-width: 768px) {
                width: 150px; 
                height: 150px; 
            }
        }
    }

    #github {
        margin-bottom: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            margin-right: 10px;
        }
    }

    .homeContent {
        #title {
            font-size: 70px;
        }
    }

    // Navbar styles
    #navbar {
        display: flex;
        align-items: center;
        height: 80px;
        border: 2px solid #ccc;
        overflow: hidden;
        background: url('../images/Wave.svg') no-repeat center center fixed;
        background-size: cover;
        border-radius: 10px;
    
        img {
            height: 75px;
            width: 75px;
            float: left;
        }
        
        #navLinks {
            margin: 0 auto;
            text-align: center;
            a {
                @media (max-width: 768px) {
                    font-size: 25px;
                }
                margin: 20px;
                translate: 10px down;
                color: $color-1;
                text-align: center;
                text-decoration: none;
                font-size: 30px;
                font-family: mainFont;
        
                &:hover {
                text-decoration: underline;
                }
            }
        }
    }

    //Footer styles
    .footer {
        margin-top: 20px;
        width: 99%;
        color: $color-1;
        text-align: center;
        background: url('../images/Wave.svg') no-repeat center center fixed;
        background-size: cover;
        border: 2px solid #ccc;
        font-family: mainFont;
        border-radius: 10px;
    }

    // Styles for the resume part
    .resumeGrid {
        padding: 5px;
        text-align: left;
        height: 1200px;
        width: 60%;
        margin: auto;
        margin-top: 20px;
        display: grid;
        grid-template-columns: 20% 20% 20% 20% 20%;
        grid-template-rows: 20% 20% 20% 20% 20%;
        background: url('../images/Contour\ Line.svg') no-repeat center center fixed;
        background-size: cover;
        @media (max-width: 768px) {
            width: 70%;
        }
        
        .resumeItem {
            height: 90%;
            width: 80%;
            margin: auto;
            background-color: none;
            @media (max-width: 768px) {
                h3, h4, h5, h6, p , li{
                    font-size: smaller;
                }
            }
        }
    
        #item-1 {
            grid-column: span 3;
            grid-row: 1;
        }
    
        #item-2 {
            grid-column: 1 / span 3;
            grid-row: 2 / span 1;
        }
    
        #item-3 {
            grid-column: 1 / span 3;
            grid-row: 3 / span 1;
        }
    
        #item-4 {
            grid-column: 1 / span 3;
            grid-row: 4 / span 2;
        }
    
        #item-5 {
            grid-column: 4 / span 2;
            grid-row: 1;
        }
    
        #item-6 {
            grid-column: 4 / span 2;
            grid-row: 2 / span 1;
        }
    
        #item-7 {
            grid-column: 4 / span 2;
            grid-row: 3 / span 2;
        }
    
        #item-8 {
            grid-column: 4 / span 2;
            grid-row: 5 / span 1;
        }
        #item-5, #item-6, #item-7, #item-8 {
            animation: slideLeft 2s;
        }
        
        #item-1, #item-2, #item-3, #item-4 {
            animation: slideRight 2s;
        }
        
        @keyframes slideRight {
            from {
                opacity: 0;
                transform: translateX(-50%);
            }
            to {
                opacity: 1;
                transform: translateX(0);
            }
        }
    
        @keyframes slideLeft {
            from {
                opacity: 0;
                transform: translateX(+150%);
            }
            to {
                opacity: 1;
                transform: translateX(0);
            }
        }
    }

    // Styles for the dowload button
    #download {
        width: 25%;
        border-radius: 10px;
        height: auto;
        margin: auto;
        margin-top: 10px;
        padding: {
            top: 15px;
            bottom: 10px;
        }
        background-color: #3f504d;
        a {
            text-decoration: none;
            color: $color-1;
        }
    }

    // Styles for the work page
    .imageGalleryContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 125px;

        @media (max-width: 768px) {
            flex-direction: column; // Change flex direction to column
        }
        #image-1, #image-2, #image-3 {
            background-color: #202525;
            padding: 30px;
            border-radius: 20px;
            margin: 20px;
            .imageTitle {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                img {
                    margin: {
                        left: 10px;
                        right: 10px;
                    }
                }
            }
        }
    }
}


