// Define variables for colors
$color-1: white;
$color-2: black;
$background-color: #647374;
$navBar-color: #2d3b39;
$footer-color: #2d3b39;

// Define variable for font family
$font-family-1: mainFont;

// Import font
@font-face {
    font-family: mainFont;
    src: url(../Allerta_Stencil/AllertaStencil-Regular.ttf);
}

// Body styles
body {
    background-image: url(../images/abstract-envelope.svg);
    background-size: cover;
    color: $color-1;
}

// Navbar styles
#navbar {
    border: 2px solid #ccc;
    overflow: hidden;
    background-color: $navBar-color;
    border-radius: 25px;

    a {
        float: left;
        color: $color-1;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 30px;
        font-family: $font-family-1;

        &:hover {
        background-color: #232e2c;
        color: $color-1;
        }
    }
}

//Footer styles
.footer {
    position: fixed;
    width: 99%;
    bottom: 0;
    color: white;
    text-align: center;
    background-color: $footer-color;
    border-radius: 25px;
    border: 2px solid #ccc;
    font-family: $font-family-1;
}

.container {
    display: grid;
    padding: 20px;
    gap: 20px;
    margin: auto;
    grid-template-columns: auto auto;
    justify-content: space-evenly;
    background-color: crimson;
    width: 80%;
    height: 500px;


    .image-container {
        width: 150px;
        height: 150px;
        text-align: center;
        background-color: blue;
    }
}
