body {
    background-color: #552828;
}

/* Used to make the navbar sticky using JS */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .content {
    padding-top: 60px;
}

.topnav {
    overflow: hidden;
    background-color: black;
    border-radius: 25px;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 35px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@media screen and (max-width: 700px) {
    .topnav a {
        font-size: 22px;
    }
}

/* On hover, the text has a glow effect */
.topnav a:hover {
    background-color: #2A1B1B;
    color: white;
    animation: glow 1s ease-in-out infinite alternate;
}


/* Lines 40-62 give it an underline animation when the user hovers over the a tags on the navbar */
.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: white;
}

.hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}



/* Give text a glow effect */
.glow {
    font-size: 80px;
    color: #fff;
    text-align: center;
    animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #D40000, 0 0 40px #D40000, 0 0 50px #D40000, 0 0 60px #D40000, 0 0 70px #D40000;
    }
    
    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #AA1717, 0 0 40px #AA1717, 0 0 50px #AA1717, 0 0 60px #AA1717, 0 0 70px #AA1717, 0 0 80px #AA1717;
    }    
}